body {
  font-family: "Roboto", sans-serif;
  color: White;
  margin: auto;
  max-width: 40rem;
  padding: 2rem;
  background: #141E30;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}

.buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  align-content: flex-center;
}

button {
  padding: 7px;
  margin: 5px;
  font-family: inherit;
  font-size: 80%;
  border-radius: 4px;
  color: white;
  background: #364288;
}

/* Underline from left hover */

.hvr-underline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #1a2a6c;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #fdbb2d, #b21f1f, #1a2a6c);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #fdbb2d, #b21f1f, #1a2a6c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  

  height: 4px;
  rgb(48, 35, 35)-webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before,
.hvr-underline-from-left:focus:before,
.hvr-underline-from-left:active:before {
  right: 0;
}

h1 {
  font-family: "Raleway", sans-serif;
}

a {
  color: white;
  text-decoration: none;
}

#box {
  border: 2px darkgray solid;
  background: white;
  color: black;
  height: 15em;
  width: 90%;

  margin: 50px 20px 20px 20px;
  padding: 20px;
}

table {
  width: 90%;
}

th {
  padding-bottom: 20px;
}

td {
  padding-left: 16%;
  padding-bottom: 3px;
}

td,
.td-tmp {
  padding-left: 20%;
}
