body {
  font-family: "Roboto", sans-serif;
  color: White;
  margin: auto;
  max-width: 40rem;
  padding: 2rem;
  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1 {
  font-family: "Raleway", sans-serif;
}

#box {
  border: 2px darkgray solid;
  background: white;
  color: black;
  height: 15em;
  width: 90%;

  margin: 50px 20px 20px 20px;
  padding: 20px;
}

table {
  width: 90%;
}

th {
  padding-bottom: 20px;
}

td {
  padding-left: 16%;
  padding-bottom: 3px;
}

td,
.td-tmp {
  padding-left: 20%;
}
